In [1]:
# Python Libraries (Packages)
# importing required modules
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read data into Python
df = pd.read_csv(r"C:\Users\manoj\OneDrive\Desktop\360DigiTMG\Data Science\Assignment Question\Data Pre Processing\DataSets-Data Pre Processing\animal_category.csv")
df

    Index Animals  Gender Homly Types
0       1     Cat    Male   Yes     A
1       2     Dog    Male   Yes     B
2       3   Mouse    Male   Yes     C
3       4   Mouse    Male   Yes     C
4       5     Dog  Female   Yes     A
5       6     Cat  Female   Yes     B
6       7    Lion  Female   Yes     D
7       8    Goat  Female   Yes     E
8       9     Cat  Female   Yes     A
9      10     Dog    Male   Yes     B
10     11     Dog    Male   Yes     B
11     12    Lion    Male    No     D
12     13    Lion    Male    No     D
13     14    Lion    Male    No     D
14     15     Cat  Female   Yes     A
15     16    Lion  Female    No     D
16     17    Lion  Female    No     D
17     18     Cat  Female   Yes     A
18     19    Goat    Male    No     E
19     20    Goat  Female    No     E
20     21    Goat    Male    No     E
21     22    Goat  Female    No     E
22     23    Lion    Male    No     D
23     24    Lion  Female    No     D
24     25    Lion    Male    No     D
25     26    Lion  Female    No     D
26     27     Dog    Male   Yes     B
27     28    Lion  Female    No     D
28     29     Cat    Male   Yes     A
29     30    Lion  Female    No     D

In [3]:
df.columns    #column names can be find by this thechnique

Index(['Index', 'Animals', 'Gender', 'Homly', 'Types'], dtype='object')

In [4]:
df.shape      #size of the table column,row

(30, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Index    30 non-null     int64
 1   Animals  30 non-null     object
 2   Gender   30 non-null     object
 3   Homly    30 non-null     object
 4   Types    30 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [6]:
df.dtypes     #checking data type of variable

Index       int64
Animals    object
Gender     object
Homly      object
Types      object
dtype: object

In [7]:
df1 = df.drop(['Index'],axis=1)  #dropping index because we take only objects

In [8]:
# Create dummy variables
df_x = pd.get_dummies(df1)

In [9]:
df_x.head()

,Animals_Cat,Animals_Dog,Animals_Goat,Animals_Lion,Animals_Mouse,Gender_Female,Gender_Male,Homly_No,Homly_Yes,Types_A,Types_B,Types_C,Types_D,Types_E
0,1,0,0,0,0,0,1,0,1,1,0,0,0,0
1,0,1,0,0,0,0,1,0,1,0,1,0,0,0
2,0,0,0,0,1,0,1,0,1,0,0,1,0,0
3,0,0,0,0,1,0,1,0,1,0,0,1,0,0
4,0,1,0,0,0,1,0,0,1,1,0,0,0,0

In [10]:
df_x.shape

(30, 14)

In [11]:
# Created dummies for all categorical columns
df_y = pd.get_dummies(df1, drop_first=True)

In [12]:
df_y.head()

,Animals_Dog,Animals_Goat,Animals_Lion,Animals_Mouse,Gender_Male,Homly_Yes,Types_B,Types_C,Types_D,Types_E
0,0,0,0,0,1,1,0,0,0,0
1,1,0,0,0,1,1,1,0,0,0
2,0,0,0,1,1,1,0,1,0,0
3,0,0,0,1,1,1,0,1,0,0
4,1,0,0,0,0,1,0,0,0,0

In [13]:
df_y.shape

(30, 10)

In [14]:
# Creating instance of One-Hot Encoder
from sklearn.preprocessing import OneHotEncoder

In [15]:
#Encode categorical features as a one-hot numeric array
enc = OneHotEncoder()

In [16]:
df1.columns

Index(['Animals', 'Gender', 'Homly', 'Types'], dtype='object')

In [17]:
df1.dtypes

Animals    object
Gender     object
Homly      object
Types      object
dtype: object

In [18]:
df = df1[['Animals', 'Gender', 'Homly','Types']]

In [19]:
enc_df = pd.DataFrame(enc.fit_transform(df.iloc[: , 0:]).toarray())

In [20]:
enc_df   # initializing method

     0    1    2    3    4    5    6    7    8    9    10   11   12   13
0   1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
2   0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
3   0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
4   0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
5   1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
6   0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
7   0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0
8   1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
9   0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
10  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
11  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
12  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
13  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
14  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
15  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
16  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
17  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
18  0.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
19  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
20  0.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
21  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
22  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
23  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
24  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
25  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
26  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
27  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
28  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0
29  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0

In [21]:
#hence we use the dummyvariable technique to make the data convert to numeric form

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
labelencoder = LabelEncoder()    # creating instance of labelencoder

In [24]:
df.columns

Index(['Animals', 'Gender', 'Homly', 'Types'], dtype='object')

In [25]:
df['Animals'] = labelencoder.fit_transform(df['Animals'])
df['Gender'] = labelencoder.fit_transform(df['Gender'])
df['Homly'] = labelencoder.fit_transform(df['Homly'])
df['Types'] = labelencoder.fit_transform(df['Types'])

In [26]:
df

    Animals  Gender  Homly  Types
0         0       1      1      0
1         1       1      1      1
2         4       1      1      2
3         4       1      1      2
4         1       0      1      0
5         0       0      1      1
6         3       0      1      3
7         2       0      1      4
8         0       0      1      0
9         1       1      1      1
10        1       1      1      1
11        3       1      0      3
12        3       1      0      3
13        3       1      0      3
14        0       0      1      0
15        3       0      0      3
16        3       0      0      3
17        0       0      1      0
18        2       1      0      4
19        2       0      0      4
20        2       1      0      4
21        2       0      0      4
22        3       1      0      3
23        3       0      0      3
24        3       1      0      3
25        3       0      0      3
26        1       1      1      1
27        3       0      0      3
28        0       1      1      0
29        3       0      0      3